*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  font-size: 40px;
  font-family: "Bubblegum Sans", cursive;
}

body.light {
  background-color: #fff;
  color: #19202c;
}

body.dark {
  background-color: #19202c;
  color: #fff;
}

li {
  list-style: none;
}

button {
  background-color: deepskyblue;
  border-radius: 15px;
  color: #fff;
  font-size: 25px;
  height: 45px;
  width: 200px;
}

button,
input,
h1,
span {
  box-shadow: 5px 5px 15px aqua, 0 0 20px magenta, inset 5px 5px 15px aqua;
  border-radius: 15px;
}

h1,
span {
  padding: 5px;
  margin: 25px;
}

input[type="checkbox"] {
  height: 40px;
  width: 40px;
}

#input-task {
  height: 40px;
  width: 400px;
}

#add-task-button,
.button-theme {
  margin: 40px;
}

.delete-btn {
  background-color: crimson;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
